# SPDX-FileCopyrightText: 2022 Alec Delaney, for Adafruit Industries
#
# SPDX-License-Identifier: Unlicense

Adafruit-Blinka
adafruit-blinka-bleio
adafruit-circuitpython-typing
typing-extensions~=4.0.0
